@model List<Incident>
@{
    ViewData["Title"] = "Incident Manager";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Incident Manager</h3>
<a class="btn btn-primary" asp-action="Add" asp-controller="Incident">Add Incident</a>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Customer</th>
        <th>Product</th>
        <th>Date Opened</th>
        <th></th>
        <th></th>
    </tr>
    @if (Model.Any())
    {
        foreach (Incident incident in Model)
        {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.Customer.FirstName</td>
                <td>@incident.Product.Name</td>
                <td>@incident.DateOpened</td>
                <td>
                    <a asp-action="Edit" asp-controller="Incident" asp-route-identifier="@incident.IncidentId" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            No Records Found
        </tr>
    }
</table>
