@model List<Technician>
@{
    ViewData["Title"] = "Technician Manager";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Technician Manager</h3>
<a class="btn btn-primary" asp-controller="Technician" asp-action="Add">Add Technician</a>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (Technician technician in Model)
        {
            <tr>
                <td>@technician.Name</td>
                <td>@technician.Email</td>
                <td>@technician.Phone</td>
                <td>
                    <a asp-action="Edit" asp-controller="Technician" asp-route-identifier="@technician.TechnicianId" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Technician" asp-route-identifier="@technician.TechnicianId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <hr />
    <h3>No Technicians Found</h3>
}
