@model List<Customer>
@{
    ViewData["Title"] = "Customer Manager";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Customer Manager</h3>
<a class="btn btn-primary" asp-controller="Customer" asp-action="Add">Add Customer</a>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (Customer customer in Model)
        {
            <tr>
                <td>
                    @(customer.FirstName + " " + customer.LastName)
                </td>
                <td>@customer.Email</td>
                <td>@customer.City</td>
                <td>
                    <a asp-action="Edit" asp-controller="Customer" asp-route-identifier="@customer.CustomerId" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Customer" asp-route-identifier="@customer.CustomerId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <hr />
    <h3>No Customers Found</h3>
}
